@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.field {
  @apply w-full overflow-auto;
}
.field input , .field select {
  @apply w-full px-3 py-2 mt-1 border rounded shadow-sm bg-white
  border-gray-300 placeholder-gray-500 text-gray-900
  focus:outline-none focus:ring-sky-500
  focus:border-sky-500 focus:z-10 sm:text-sm;
}
.field label {
  @apply block text-sm text-gray-600 font-medium;
}

.search {
  @apply w-full relative shadow-sm bg-white;
}
.search input {
  @apply w-full px-3 bg-white pl-6
 placeholder-gray-500 text-gray-900 focus:outline-none
}

.btn {
  @apply relative w-full flex justify-center
  px-4 py-2 rounded-md text-sm font-semibold;
}
.btn-primary {
  @apply bg-sky-600 hover:bg-sky-700 text-white
  focus:outline-none focus:ring-2 focus:ring-offset-2
  focus:ring-sky-500;
}
.btn-secondary {
  @apply bg-red-600 hover:bg-red-700 text-white
  focus:outline-none focus:ring-2 focus:ring-offset-2
  focus:ring-red-500;
}
.btn-delete {
  @apply relative flex items-center justify-center
  px-4 rounded-md text-lg font-semibold
  bg-gray-600 hover:bg-gray-700 text-white
  focus:outline-none focus:ring-2 focus:ring-offset-2
  focus:ring-gray-500;
}
.btn-info {
  @apply bg-amber-500 hover:bg-amber-600 text-white
  focus:outline-none focus:ring-2 focus:ring-offset-2
  focus:ring-amber-400;
}
.btn-none {
  @apply bg-gray-500 hover:bg-gray-600 text-white
  focus:outline-none focus:ring-2 focus:ring-offset-2
  focus:ring-gray-400;
}

.badge {
  @apply ml-2 px-3 py-px font-medium rounded-full text-xs mb-1
}
.badge-blue {
  @apply bg-blue-100 text-blue-600
}
.badge-red {
  @apply bg-red-100 text-red-500
}
.badge-green {
  @apply bg-green-100 text-green-600
}

.app-bar {
  @apply fixed inset-x-0 bottom-0
  bg-sky-700 w-full sm:max-w-lg mx-auto rounded-t-md
  flex items-stretch justify-around
}
.app-btn {
  @apply flex-1 text-lg text-gray-50
  flex items-center flex-col p-2 pt-3
}
.app-btn span {
  @apply font-light text-2xs pt-2
}